* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(196, 196, 199);
}


/* Main Body CSS Start */

.main_Body {
    position: relative;
    width: 30%;
    top: 10vw;
    background-color: rgb(64, 112, 236);
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
}

.img {
    height: 18vh;
}

.main_Body .img img {
    border-radius: 50%;
    border: 5px solid #5bfb5b;
    width: 12vw;
    height: 22vh;
    position: relative;
    left: 8.9vw;
    top: 1vw;
}

.contnt {
    padding-top: 3.5vw;
    background-color: #F5F5F7;
    text-align: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.contnt h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}

.contnt p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}

.btns {
    display: flex;
    justify-content: center;
}

.btn1,
.btn2 {
    cursor: pointer;
    background-color: rgb(64, 112, 236);
    border-radius: 15px;
    padding: 1vw 2vw;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.btn1 {
    margin-right: 1vw;
}

.detils {
    display: flex;
    justify-content: center;
}

.detils div {
    cursor: pointer;
    padding: 1vw;
    padding-left: 1vw;
}

.detils img {
    width: 2vw;
}

.detils p {
    font-size: 1.5vw;
}

.like,
.comment,
.share {
    display: flex;
}


/* Main Body CSS End */